SuperShopClient/SuperShopClient/Connected Services/ServiceSuperShop/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceNEW" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceNEW" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSummery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Summery" nillable="true" type="tns:Summery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSummery" nillable="true" type="tns:ArrayOfSummery" />
  <xs:complexType name="Summery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Summery" nillable="true" type="tns:Summery" />
</xs:schema>