SuperShopClient/SuperShopClient/Connected Services/ServiceSuperShop/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceShop/SuperService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceShop/SuperService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceNEW" />
  <xs:element name="Hithul">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HithulResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q1:Products" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q2:Products" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q3:Products" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="kindAmount" nillable="true" type="q4:KindAmountProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductAmountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contains" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetProductsBySelectResult" nillable="true" type="q5:ArrayOfProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsExistsBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contains" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsExistsBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetProductsExistsBySelectResult" nillable="true" type="q6:ArrayOfProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListProductsResult" nillable="true" type="q7:ArrayOfProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProductsExists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProductsExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListProductsExistsResult" nillable="true" type="q8:ArrayOfProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetProductByCodeResult" nillable="true" type="q9:Products" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q10:Products" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductToBuyingBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contains" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductToBuyingBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetProductToBuyingBySelectResult" nillable="true" type="q11:ArrayOfProductToBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductToBuying">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q12:ProductToBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductToBuyingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAmountProductToBuying">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q13:ProductToBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAmountProductToBuyingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductToBuyingByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element minOccurs="0" name="code1" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductToBuyingByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetProductToBuyingByCodeResult" nillable="true" type="q14:ProductToBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductToBuying">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q15:ProductToBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductToBuyingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProductsToBuying">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProductsToBuyingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListProductsToBuyingResult" nillable="true" type="q16:ArrayOfProductToBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductToRecipeBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contains" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductToRecipeBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetProductToRecipeBySelectResult" nillable="true" type="q17:ArrayOfProductToRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductToRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q18:ProductToRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductToRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductToRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q19:ProductToRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductToRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducToRecipetByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element minOccurs="0" name="code1" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducToRecipetByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetProducToRecipetByCodeResult" nillable="true" type="q20:ProductToRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductToRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="p" nillable="true" type="q21:ProductToRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductToRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProductToRecipe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProductToRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListProductToRecipeResult" nillable="true" type="q22:ArrayOfProductToRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyProductToRecipe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyProductToRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyProductToRecipeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyRecipe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyRecipeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contains" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetRecipeBySelectResult" nillable="true" type="q23:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="r" nillable="true" type="q24:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="r" nillable="true" type="q25:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetRecipeByCodeResult" nillable="true" type="q26:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="r" nillable="true" type="q27:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListRecipe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListRecipeResult" nillable="true" type="q28:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatuseRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="r" nillable="true" type="q29:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatuseRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsesProductBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contains" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsesProductBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetUsesProductBySelectResult" nillable="true" type="q30:ArrayOfUsesProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsesProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="u" nillable="true" type="q31:UsesProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsesProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsesProductByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsesProductByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetUsesProductByCodeResult" nillable="true" type="q32:UsesProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsesProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="u" nillable="true" type="q33:UsesProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsesProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsesProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsesProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListUsesProductsResult" nillable="true" type="q34:ArrayOfUsesProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyUsesProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyUsesProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyUsesProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetkindAmountProductBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contains" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetkindAmountProductBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetkindAmountProductBySelectResult" nillable="true" type="q35:ArrayOfKindAmountProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddkindAmountProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="k" nillable="true" type="q36:KindAmountProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddkindAmountProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKindAmountProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="k" nillable="true" type="q37:KindAmountProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKindAmountProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKindAmountProductByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKindAmountProductByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetKindAmountProductByCodeResult" nillable="true" type="q38:KindAmountProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKindAmountProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="k" nillable="true" type="q39:KindAmountProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKindAmountProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListKindAmountProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListKindAmountProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListKindAmountProductResult" nillable="true" type="q40:ArrayOfKindAmountProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyKindAmountProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyKindAmountProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyKindAmountProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyKindOfBuying">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyKindOfBuyingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyKindOfBuyingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKindOfBuyingBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contains" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKindOfBuyingBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetKindOfBuyingBySelectResult" nillable="true" type="q41:ArrayOfKindOfBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKindOfBuying">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="k" nillable="true" type="q42:KindOfBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKindOfBuyingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKindOfBuying">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="k" nillable="true" type="q43:KindOfBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKindOfBuyingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKindOfBuyingByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKindOfBuyingByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetKindOfBuyingByCodeResult" nillable="true" type="q44:KindOfBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKindOfBuying">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="k" nillable="true" type="q45:KindOfBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKindOfBuyingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListKindOfBuying">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListKindOfBuyingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListKindOfBuyingResult" nillable="true" type="q46:ArrayOfKindOfBuying" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contains" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetCategoryBySelectResult" nillable="true" type="q47:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="k" nillable="true" type="q48:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="k" nillable="true" type="q49:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetCategoryResult" nillable="true" type="q50:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListCategoryResult" nillable="true" type="q51:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUseByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUseByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WcfServiceNEW" minOccurs="0" name="GetUseByTimeResult" nillable="true" type="q52:ArrayOfSummery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>